.logo-container {
    width: 556px;
    margin: 8px;
    height: 250px;
    transition: all 1.5s ease;
}


@import "logo-container__caption.css";
@import "logo-container__picture.css";
@import "logo-container__title.css";
@import "logo-container__description.css";