table.stat-table.mdl-data-table {
    margin: 0 16px;
}

.stat-table.mdl-data-table tr {
    height: auto;
}

.stat-table.mdl-data-table td {
    height: 10px;
    padding: 4px 24px;
}

.stat-table.mdl-data-table th {
    height: 15px;
    padding: 4px 24px;
}

@import "./stat-table__head.css";
@import "./stat-table__item.css";